<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Guardiões do Tempo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body class="background">
    <div class="container">
        <div class="box">
            <h2>Login</h2>
            <form action="{{ url_for('login') }}" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
                <a href="{{ url_for('register') }}" class="register-btn">Cadastre-se</a>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>
